body{
    margin: 0;
    padding: 0;
}
.top{
    position: absolute;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding-top: 0%;
    background:rgb(6, 112, 116);
    position: fixed;
    top: 0;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top ul{
    position: absolute;
    width: 100%;
    height: 100px;
    list-style-type: none;
    margin: 0;
    border: 0;          
    padding-inline-start: 0%;
}
.top ul li {
    height: 100px;
    float: right; /* 使li内容横向浮动，即横向排列  */
    margin: 15px 5%;  /* 两个li之间的距离*/
    padding: 0%;
}
.top ul li a{
    color:rgb(214, 214, 214);
    font-size: 180%;
    height: 100%;
    text-decoration: none;
}
.top ul li a:hover{
    color: salmon;
    text-align: right;
}
body{
    background:#d6d5d0;
}
.Questions{
    color: #56a1a7;
    width: 100%;
}
.Questions ul{
    margin-top: 100px;
    width: 100%;
    position: absolute;
}
.Questions ul li{
    background-color: rgb(94, 172, 172);
    border-radius: 10px;
    height: 80px;
    width: 100%;
    margin: 10px;
}
.Questions ul li a{
    text-decoration: none;
    color:cornsilk;
    margin-top: 10px;
    font-size: 63px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
